.wrapper
  = render "groups/chat-side"
  .chat-main
    .chat-header
      .chat-header__group
        %h2
          = @group.name
        %p.chat-header__members
          Members:
          %span.chat-header__member
          = render partial: "messages/groups_user", collection: @group.groups_users
      .chat-header__edit
        %a
        = link_to edit_group_path(@group.id), class: "chat-header__edit--btn" do
          Edit
    .chat-body
      %ul.chat-messages
        = render @messages
    .chat-footer
      = form_for [@group,@message] do |f|
        .chat-footer__body
          = f.text_field :body, placeholder: "type a message", class: "textarea"
          .chat-footer__icon
            %i.fa.fa-image
        = f.submit "SEND", class: "chat-footer__submit-btn"
