.group-form
  %h1 チャットグループ編集
  = render "shared/error-messages"
  = form_for(@group, url: group_path(@group), html: {method: "patch"}) do |f|
    .group-form__field.clearfix
      .group-form__field--left
        = f.label :name, "グループ名", class: "group-form__label"
      .group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", class: "group-form__input"
    .group-form__field.clearfix
      .group-form__field--left
        .group-form__label
          = f.label :group_チャットメンバーを追加, "チャットメンバー"
      .group-form__field--right
        .group-form__search.clearfix
          #user-search-field
          = collection_check_boxes(:group, :user_ids, User.all, :id, :name) do |b|
            = b.label {b.check_box + b.text }
    .group-form__field.clearfix
      .group-form__field--left
      .group-form__field--right
        = f.submit "Save", class: "group-form__action-btn"
