.chat-side
  .chat-user
    %h5
      = current_user.name
    .chat-user__icons
      = link_to new_group_path, class: 'chat-user__icon' do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_registration_path, class: 'chat-user__icon' do
        %i.fa.fa-cog
  %ul.chat-groups
    - @groups.each do |group|
      %li.chat-group
        = link_to group_messages_path(group.id), class: "chat-group__link" do
          %p.chat-group__name
            = group.name
          %p.chat-group__message Winter is Coming!
